*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.big_wrapper
.sec-1{
    background-color: black;
    color: white;
    padding-bottom: 30px;
 
}
.wrapper{
    width: 90%;
    margin: 0 auto;

}
@media screen and (min-width:767px) {
    .wrapper{
        width: 80%;
    }
}

.sec-1 h1{
    font-size: 30px;
    margin-bottom: 10px;
    width: 80%;
}
@media screen and (min-width:767px) {
    .sec-1 h1{
        width: 100%;
        font-size: 3em;
    }
    
}
header{
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
#hamb{
    display: none;
}
.hamburg{
    float: right;
    margin-top: 10px;
}
header h1{
    display: inline-block;
}
.sec-1 p{
    margin: 10px 0px;
    color: gray;
    line-height: 20px;
    margin-bottom: 40px;
}
.icons{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(2,1fr) ;
    padding-bottom: 50px;
}
@media screen and (min-width:767px) {
    .icons{
       grid-template-columns: repeat(3,1fr);
       padding-bottom: 70px;
    }
    
}
@media screen and (min-width:1024px) {
    .icons{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
    }
    
}

.right{
    padding-left: 10px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 18px;
}
.sec-2{
        padding: 50px 0px;
        background-color: rgba(128, 128, 128, 0.911);
}
span{
    color: white;
 
}
span h2{
   font-size: 30px;
}
.mini-sec-2 p{
    margin-top: 20px;
    color: whitesmoke;

}
.mini-min{
    margin-top: 70px;
}

.sec-3{
    background-color: black;
    color: gray;
     padding: 90px 0px;
}
.sec-3 h2{
    color: white;
    margin-bottom: 10px;
}
button{
    background-color: gold;
    padding: 10px 20px;
    border:0px solid gold;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
footer{
    background-color: grey;
    padding: 20px 0px;


}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h1{

    font-size: 14px;
}
nav{
    display: none;
}

@media screen and (min-width:1024px){
  .hamburg{
      display: none;
  }

 .sec-1-1{
     width: 80%;
 
 }
 .sec-1-1 h1{
     font-size: 25px;
 }
 .icons{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
 }
 .third{
     border: 2px solid yellow;
     width: 950%;
     /* padding: 30px; */
 }
 .mid-sec-1{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
 }
 .mid-sec-1 div{
     width: 47%;
 }
 .mini-sec-2{
     display: flex;
     justify-content: space-between;
     align-items: center;
  
 }
 .mini-sec-2 div{
     width: 47%;
 }
 .mini-min{
     margin-top: 0%;
     
 }
 .sec-3 p{
width: 50%;
 }
 
    
}